
html {
  color-scheme: none !important;
  color: unset !important;
}

body {
  margin: 0;
  display: flex; 
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

#root {
  width: 100vw;
  margin: 1rem;
  padding: 2rem;
  background: #f1f1f1;
  height: 100vh;
  border-radius: 0.2rem;
}

#app-logo img {
  max-width: 4rem;
}

.content-container {
  display: flex;
  margin: 2rem;
  flex-direction: column;
}

.post-item-downvote > img {
  transform: rotate(180deg);
}

.post-item-details > div, .post-item-details > a {
  margin-right: 0.5rem;
  border-right: solid 1px black;
  padding-right: 0.5rem;
}

.posts-view-switcher {
  margin-bottom: 1.5rem;
}

.posts-view-switcher > div {
  cursor: pointer;
  color: gray;
  margin-right: 1rem;
  font-size: 1.1rem;
}

.posts-view-switcher > div:first-of-type {
  border-right: solid 2px black;
  padding-right: 1rem;
}

.posts-view-switcher > div.active {
  cursor: pointer;
  color: initial;
}

.post-item-details > div:last-of-type {
  border-right: none;
}

.post-item-details a {
  line-height: initial;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
  justify-content: center;
}

#title-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

#title-container h1, h3 {
  margin: 0;
}

.posts-list {
  display: flex;
    flex-direction: column;
}

.post-item {
  display: flex;
  flex-direction: row;
}

.post-item-votes {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-item-title {
  font-weight: bold;
    font-size: 1.2rem;
}

.post-item-details {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.overlay-spinner {
  background: #e8e8e8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  z-index: 8;
}

.registration-form {
  max-width: 800px;
  margin: 0 auto;
  width: 500px;
}

.registration-form input {
  display: block;
  padding: 0.6rem 1rem;
  border-radius: 3px;
  border: 3px solid rgba(0,0,0,.79);
  width: 100%;
  margin-bottom: 0.5rem;
  color: rgba(0,0,0,.84);
  -webkit-transition: all .2s;
  transition: all .2s;
  font-size: 1rem;
  box-sizing: border-box;
}