{
  "database": {
    "adminPassword": "dddforum",
    "connectionString": "postgresql://dddforum:dddforum@localhost:5432/dddforum"
  },
  "auth": {
    "firebase": {
      "apiKey": "",
      "domain": ""
    }
  }
}



